footer {
  width: 100%;
  position: relative;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
  height: 100px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-around;

  p {
    align-items: center;
    margin: 0;
  }
}