* {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  color: black;
}

body, html {
  // height: 100vh;
}

main {
  margin-top: 110px;
}

.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

navbar a, navbar a:hover {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
  outline: none;
}

.btn, button {
  background: #739DD3;
  color: white;
  border-color: $highlight-colour;
}

.btn:hover, .button:hover {
  background: $highlight-colour;
}

input.form-input {
  border: none;
  border-bottom: #739DD3 2px solid;
}