.parallax {
  background-image: url("https://i.imgur.com/0QVWiv1.jpg");
  margin: 0 40px;
  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.midParallax {
  background-color:white;
  font-size: 36px;
  display: flex;
  height: 200px;

  h2 {
    flex: 1;
    align-self: center;
    text-align: center;
    font-family: 'Qwigley', cursive; 
    font-size: 50px;
  }

  p {
    flex: 1;
    align-self: center;
    text-align: center;
  }
}

p {
  font-size: 12px;
}

section {
  background-color: #edecec;

}

.mainBlogIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 20px;
  }
}

.featuredBlogs {
  flex-direction: row;
  justify-content: space-around;

  div {
    padding: 10px;

    img {
      height: 100px;
      width: 100px;
    }
  }
}

.homepage-section {
  padding-top: 30px;
}