.parallax {
  background-image: url("https://i.imgur.com/0QVWiv1.jpg");
  background-color: black;
  margin: 0 40px;
  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.midParallax {
  background-color:white;
  font-size: 36px;
}

p {
  font-size: 12px;
}

section {
  background-color: #edecec;

}

.mainBlogIndex {
  display: flex;
  flex-wrap: wrap;

  div {
    margin: 20px;
  }

  img {
    height: 500px;
    width: auto;
  }
}