.parallax {
  background-image: url("https://i.imgur.com/uv9iYNs.jpg");
  margin: 10px 100px 0 100px;
  height: 90vh;
  width: auto;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.midParallax {
  background-color:white;
  font-size: 36px;
  display: flex;
  height: 200px;
  justify-content: center;

  h2 {
    flex: 1;
    align-self: center;
    text-align: center;
    font-family: 'Qwigley', cursive; 
    font-size: 70px;
    max-width: 36%;
  }

  p {
    flex: 1;
    align-self: center;
    text-align: center;
    max-width: 36%;
    font-size: 14px;
  }
}

p {
  font-size: 12px;
}

.mainBlogIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  div {
    margin: 20px;
  }
}

.featured-blogs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  margin: 20px 0;

    img {
      height: 100px;
      width: 100px;
    }
  }

.homepage-section {
  padding-top: 30px;
}

.homepage-section-grey {
  background-color: #f1f0f0; 
}

h2 {
  font-size: 40px;
}