// Default Colour Schemes

$highlight-colour: #48A69C;
$redtone-colour: #C58464;

// Universal Schemes

* {
  box-sizing: border-box;
}

body, html {
  height: 100vh;
}

main {
  margin-top: 100px;
}

.centre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// INDIVIDUAL PAGE STYLES

// Navbar and Footer Styles
@import './common/navbar';
@import './common/footer';

// Home Page Styles
@import 'home';

// Register and Login Page Styles
@import './auth/register-and-login';

