.formBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 50px;
  background-color: #f1f0f0;
  
  width: auto;
  height: auto;
}

a.login-register-link {
  color: $highlight-colour;
}

.login-page, .register-page {
  padding-top: 20px;
}