.formBackground {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 70px;
  background-color: #F8F8F8;
  
  // width: auto;
  // height: auto;
  margin-bottom: 20px;
}

a.login-register-link {
  color: $highlight-colour;
}

.login-page, .register-page {
  padding-top: 20px;
}