.blogshow-wrapper {
  display: flex;
  padding-top: 30px;

  .blogshow-images {
    width: 60%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
  }

  .blogshow-text {
    padding: 0 20px;
    width: 40%;
  }
}

.blogshow-title {
  width: 80%;
}

.blog-caps {
  text-transform: uppercase;
  color: $highlight-colour;
  font-size: 16px;
  font-weight: 700;
}

.blog-story {
  font-size: 16px;
}

.blogshow-image-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.blogshow-images img {
  height: 400px;
  padding: 5px;
  overflow: hidden;
}

p.blogshow-tags {
  display: inline-block;
  border-radius: 20px;
  border: 4px solid #f1f0f0;
  padding: 2px;
  margin: 3px;
  background: #f1f0f0;
}

.vertical-line {
  border-left: 2px solid #f1f0f0 ;
}

.blogshow-comments {
  padding: 20px;
}