.blogshow-comments {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

div.card.comment-form {
  width: 48%;
  margin: 1%;
}

div.card.comment-card {
  width: 23%;
  margin: 1%;
}

.comment-card-p {
  margin: 5px 0;
}

.card-comment-buttons {
  display: flex;
  justify-content: center;

    button {
      margin: 0 5px;
  }
}

.comment-form-input {
  margin-top: 5px;
}